{% load static %}
{% include "components/navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netra | Account Details</title>
    <link rel="icon" href="{% static 'logos/netra.svg' %}" type="image/svg+xml">
    <!--CSS & FONTS-->
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}">
    <!--BOOTSTRAP-->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <!--TAB ICON-->
    <link rel="icon" href="{% static 'logos/netra.svg' %}" type="image/svg+xml">
    <!--BOOTSTRAP ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--CSS & FONTS-->
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/account.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
</head>
<body style="min-height: 100vh;" class="d-flex align-items-center justify-content-center">
    <div class="container py-5 user-select-none">
        <div class="account-card-wrapper">
            <div class="account-card">
                <h3 class="account-title">Account Details</h3>
                <div class="account-info-group">
                    <label class="account-label">Username: </label>
                    <div class="account-value">{{ user.username }}</div>
                </div>
                <div class="account-info-group">
                    <label class="account-label">Email: </label>
                    <div class="account-value">{{ user.email }}</div>
                </div>
                <div class="account-actions d-flex flex-column flex-md-row gap-2 mt-4">
                    <form method="post" class="d-flex align-items-center justify-content-center gap-2">
                        <a href="{% url 'dashboard' %}" class="btn btn-dark">
                            <i class="bi bi-arrow-left"></i> Back
                        </a>
                        <a href="{% url 'logout' %}" class="btn btn-primary">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-person-x-fill"></i> Delete Account
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>